<div class="ds-search">
  <div class="input-group input-group-md">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Todos <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <input type="text" class="form-control" placeholder="Buscar por...">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button">Ir</button>
    </span>
  </div><!-- /input-group -->
</div>