{% if sku.sellers[0].offer.availableQuantity > 0 %}
<div class="ds-product-add-cart">
	{% if sku.sellers[0].offer.availableQuantity > 1 %}
	<form class="ds-product-quantity">
		<label>
			Quant:
			<select>
				{% for i in (1..sku.sellers[0].offer.availableQuantity) limit: 30 %}
					<option>{{ i }}</option>
				{% endfor %}
			</select>
		</label>
	</form>
	{% endif %}
  
  <a href="/checkout/cart/add?sku={{ sku.id }}&seller={{ sku.sellers[0].id }}&qty=1" class="ds-product-add-cart-btn btn btn-block btn-success"><i class="fa fa-shopping-cart"></i> Adicionar ao carrinho</a>
</div>
{% endif %}