<div class="ds-product-social-share">
  <a class="ds-product-social-share-email" href="#" title="Compartilhar por e-mail">Compartilhar</a>&nbsp;
  <a class="ds-product-social-share-email-icon" href="#" title="Compartilhar por e-mail"><i class="fa fa-envelope-o"></i></a>&nbsp;
  <a class="ds-product-social-share-facebook" href="#" title="Compartilhar no Facebook"><i class="fa fa-facebook-official"></i></a>&nbsp;
  <a class="ds-product-social-share-twitter" href="#" title="Compartilhar no Twitter"><i class="fa fa-twitter"></i></a>
</div>