{% model facets = 'facet' category:search.category brand:search.brand search:search.searchTerm facets:search.facets %}

{% style 'style/facets.css' %}

<div class="ds-facets">
{% if search.category %}
  {% if facets.departments.first.name == facets.categoriesTrees.first.name %}
    {% for children in facets.categoriesTrees.first.children %}
      {% if children.children.size > 0 %}
        {% assign name = children.name %}
      {% else %}
        {% capture name %}{{children.name}} ({{children.quantity}}){% endcapture %}
      {% endif %}
      {% assign heading = name %}
      {% assign options = children.children %}
      {% include 'facets/item' %}
    {% endfor %}
  {% elsif facets.categoriesTrees.first.children.size > 0 %}
    {% assign heading = facets.categoriesTrees.first.name %}
    {% assign options = facets.categoriesTrees.first.children %}
    {% include 'facets/item' %}
  {% endif %}
{% else %}
  {% for tree in facets.categoriesTrees %}
    {% assign heading = tree.name %}
    {% assign options = tree.children %}
    {% include 'facets/item' %}
  {% endfor %}
{% endif %}
{% for spec in facets.specificationFilters %}
  {% if spec.value.size > 0 %}
    {% assign heading = spec.key %}
    {% assign options = spec.value %}
    {% include 'facets/item' %}
  {% endif %}
{% endfor %}
</div>