{% extends 'layout' %}

{% block 'content' %}

{% include 'header' %}

<div class="ds-main page-home container-fluid">
	<div class="row banner-top">
		<div class="col-md-12">
			{% widget 'banner' id:'topo' %}
		</div>
	</div>

	<div class="row">

		<div class="ds-main-content col-md-9">
			<div class="ds-shelf-destaque">
				<div class="row">
					<h3 class="col-md-12">Destaques</h3>
				</div>
				<div class="ds-widget-shelf-destaque row">
					{% widget 'shelf' id:'destaque' %}
				</div>
			</div>

			<div class="ds-shelf-racao">
				<div class="row">
					<h3 class="col-md-12">Rações</h3>
				</div>
				<div class="ds-widget-shelf-racao row">
					{% widget 'shelf' id:'racao' %}
				</div>
			</div>

			<div class="ds-shelf-brinquedo">
				<div class="row">
					<h3 class="col-md-12">Brinquedos</h3>
				</div>
				<div class="ds-widget-shelf-brinquedo row">
					{% widget 'shelf' id:'brinquedo' %}
				</div>
			</div>
		</div>

		<div class="ds-sidebar col-md-3">
			<div class="row">
				<a href="/promo">
					<img src="{{ 'images/side-promo.jpg'| assetUrl }}" alt="promo 1">
				</a>
			</div>
			<hr>
			<div class="row">
				<a href="/promo">
					<img src="{{ 'images/side-promo2.png'| assetUrl }}" alt="promo 2">
				</a>
			</div>
		</div>

	</div>

</div>

{% include 'footer' %}
{% endblock %}
