{% extends 'layout' %}

{% block 'content' %}
{% include 'header' %}

<div class="ds-main container-fluid">
  {% assign sku = product.items[0] %}
  <div class="ds-product-info row">
    <div class="ds-product-image-container col-md-4">
      {% include 'product/image' %}
    </div>
    <div class="ds-product-main-info col-md-6">
      {% include 'product/title' %}

      {% if product.items.size == 1 %}

        {% include 'product/price' %}
        {% include 'product/stock' %}
        {% include 'product/seller' %}

        {% include 'product/excerpt' %}

      {% else %}

        {% include 'product/sku-selector' %}

      {% endif %}
    </div>
    <div class="ds-product-sidebar col-md-2">
      <div class="row">
        {% include 'product/share' %}
      </div>
      <div class="row">
        {% include 'product/add-cart' %}
      </div>
    </div>
  </div>

  {% include 'product/description' %}

  {% include 'product/specification' %}

</div>

{% include 'footer' %}
{% endblock %}
