<div class="ds-shelf-item col-md-2">

  <a class="ds-shelf-item-link ds-item-link" href="/{{ product.slug }}/p">
    <div class="ds-shelf-item-image-container">
      <img class="ds-shelf-item-image img-rounded" src="{% widget 'vteximg' id:'_' path:sku.images[0].path width:'185' height:'185' %}" alt="">
    </div>
    <span class="ds-shelf-item-name" href="/{{ product.slug }}/p" title="{{ product.name }}">{{ product.name | truncate: 48 }}</span>
  </a>

  <div class="ds-shelf-item-brand">
    <span class="ds-muted">{{ product.brand }}</span>
  </div>
  
  <div class="ds-shelf-item-price">
    {{ sku.sellers[0].offer.price | price }}
  </div>
</div>