.ds-facets {
	margin-top: 5px;
	border-right: 1px solid #ddd;
} 

.ds-facet-heading {
	font-size: 1.1em;
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
}

.ds-facet-body {
	padding-left: 5px;
}

.ds-facet-link {
	text-decoration: none !important;
	font-size: 0.9em;
}

.ds-facet-name {
	color: #444;
}

.ds-facet-quantity {
	color: #bbb;
}

.ds-facet-link:hover .ds-facet-name, .ds-facet-link:hover .ds-facet-quantity {
	color: #c60;
}